body {
  width: 100%;
  margin: 0;
  background: #8ecae6;
  font-family: "Macondo Swash Caps", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-top: 50px;
  font-size: 40px;
}

.content {
  margin-top: 100px;
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
}

.content > * {
  display: flex;
  flex-direction: column;
  font-size: 100px;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  flex-wrap: nowrap;
  flex-shrink: 1;
  background-color: #219ebc;
}

button {
  border: 0;
}

p {
  font-weight: bold;
  font-size: 30px;
  margin: 0;
}

button:hover {
  background-color: #34899e;
}

#wybory {
  margin-top: 50px;
  display: flex;
  font-size: 50px;
  gap: 100px;
}

#wybory > div {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 200px;
}

#computer,
#you {
  display: flex;
  gap: 30px;
}

#komputer,
#ja {
  align-items: center;
}

#authentication {
  display: flex;
  gap: 20px;
  justify-content: end;
  flex-grow: 1;
  width: 100%;
  margin: 20px 50px 0px 0px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 300px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 10px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  font-weight: bold;
}

.modal-body > button {
  margin-top: 10px;
  border-radius: 0.5rem;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 0;
  background-color: cyan;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.modal-body > input {
  margin-top: 6px;
  margin-bottom: 15px;
}

button[data-modal-target="#modal"],
button[data-modal-target="#modal1"],
#logout {
  background-color: #509848;
  border-radius: 10px;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
}

button[data-modal-target="#modal"]:hover,
button[data-modal-target="#modal1"]:hover,
#logout:hover {
  background-color: #355c31;
}
